body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: #000000;
}

#container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  float: left;
}

#boxMsg {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  width: 25%;
  height: 100%;
  float: left;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

.line {
  position: relative;
  margin-bottom: 10px;
}

.line-name {
  color: #9999ff;
  font-weight: bold;
}

.line-name.system {
  color: #ff9999;
}

.line-msg {
  word-break: break-all;
}

